body{
    background-color: #161916;
    color: #dbdbcc;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
#cards{
    display: flex;
    width: 70%;
    flex-direction: column;
    margin: auto;
}
#textcards{
    display: flex;
    width: 50%;
    flex-direction: column;
    margin: auto;
}
.card{  
    background-color: #1f231e;
    padding: 5%;
    box-shadow: 5px 5px 10px #0c0e0c, -5px -5px 10px #0c0e0c;
    margin: 30px 0;
    width: 90%;
}

iframe {
    width: 100%;
    height: 600px;
}

.subcard{
    
    background-color: #1C2F1B;
    width: 70%;
    box-shadow: 5px 5px 10px #0c0e0c, -5px 5px 10px #0c0e0c;
    margin-left:20%;
    padding: 1rem;
    margin-top: 0px;
    position: relative;
    z-index: 1;
}
.projects{
    width: 100%;
    margin: auto;
}
.projectimg{
    width: 100%;
    margin: 40px 0px 0px;
    box-shadow: 5px 5px 10px #0c0e0c, -5px -5px 10px #0c0e0c;
    position: relative;
    z-index: 2;
    background-color: #1A1F16;
}
.projectimg img{
    width: 95%;
    margin: 2.5%;
}
a:link, a:visited{
    text-decoration: none;
    color:#629B5C;
}
a:focus, a:hover{
    color:#82A97F;
}
a:active{
    color:#AFC9AD;
}
h1{
    text-align: center;
    font-size: 4rem;    
}
h2, h1{
    font-family: 'Courier New', Courier, monospace;
}
h3{
    font-size: x-large;
}
.material-icons{
    vertical-align: bottom;
    font-size: 1.5em;
}
nav{
    background-color: #1C2F1B;
    padding: 20px 18% 45px;
    z-index: 5;
    position: relative;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0 0;
    
}
li a{
    float:right;
    padding: 0 20px;
    font-size: x-large;
}
#name{
    float:left;
}
@media screen and (max-width:1100px){
    #cards{
        width: 90%;
        margin: 0 5%
    }
    #textcards{
        width: 90%;
        margin: 0 5%
    }
    nav{
        padding: 20px 5% 45px;
    }
}
@media screen and (max-width:650px){
#name{
    position:absolute;
    left: -1000px;
}
li a{
    float: right;
    display: inline;
}}

@media screen and (max-width: 550px){
    .cardimg {
    width: 50%;
    margin: 0 auto;
}}

@media screen and (min-width: 550px){
    .cardimg img{
        display: block;
        float: right;
        width: 200px;
        margin: 20px;
    }
}

.cardending {
    width: 100%;
    height: 1px;
    clear: both;
}
.floatright img{
    display: block;
    float: right;
    width: 200px;
    margin: 20px;
}

.middlestripe {
    position: relative;
    height: 10px;
    width: 100%;
    background-color: #1e3f20;
    z-index: 4;
}
.lightstripe {
    position: relative;
    top: .25rem + 16px;
    height: 10px;
    width: 100%;
    background-color: #345830;
    box-shadow: 0 5px 10px #0c0e0c;
    z-index: 3;
}
.project .middlestripe, .project .lightstripe {
    padding: 0 1rem;
    width: 70%;
    margin-left: 20%;
}
footer {
    background-color: #1C2F1B;
    padding: 20px 20% 40px;
}
canvas {
    width: 100%;    
    margin: auto;
}
img.centered {
    display: block;
    margin: 20px auto;
    max-width: 100%;
}

@media screen and (max-width: 1550px) {
    img.centered {
        width: 100%;
    }
}
.tabs {
    overflow: hidden;
    background-color: #161916;
}
.tabs button {
    border: none;
    background-color: inherit;
    float: left;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.2s;
    color: #dbdbcc;
    border-radius: 10px 10px 0 0;
    width: 50%;
}
.tabs button:hover {
    background-color: #11140e;
    
}
.tabs button.active {
    background-color: #1f231e;
}
.tabcontent {
    box-shadow: 5px 5px 10px #0c0e0c, -5px 5px 10px #0c0e0c;
    background-color: #1f231e;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: flex-start;
}
.project {
    order: 0;
    flex: 0 1 max(45%, 500px);
    align-self: auto;
}

